[tool.ruff]
exclude = [
    "**/__pycache__",
    ".git",
    "venv",
    "notebooks"
]
line-length = 88

[tool.ruff.lint]
select = ["E", "F", "I", "PERF", "PT", "RUF"]
ignore = [
    "RUF001", # Ambiguous unicode characters are handled explicitly in functions
    "RUF002"  # Ambiguous unicode characters are handled explicitly in functions
]

[tool.ruff.format]
docstring-code-format = true

[tool.pyright]
include = ["ap", "train"]
exclude = ["**/__pycache__", "venv"]
reportUnusedImport = true
reportUnusedClass = true
reportUnuedFunction = true
reportUnusedVariable = true
reportWildcardImportFromLibrary = true
reportPrivateUsage = true
